<div data-ng-controller="searchController as vm" data-ng-init="vm.initSearch()">
    <!--/ START TITLE -->
    <div class="col-xs-12">
        <h2>Consulta de solicitudes</h2>
        <hr class="red">
    </div>

    <!--/ END TITLE -->
    <!-- START CONTENT -->

    <div class="col-xs-12">
        <div class="alerts"></div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por folio o nombre" data-ng-model="vm.query"
                       data-ng-keyup="$event.keyCode == 13 && vm.searchRequests()" />

                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-ng-click="vm.searchRequests()">
                            Buscar
                        </button>

                        <div class="col-xs-12">
                            <div class="alerts alert-success"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left">
            <div class="dropdown pull-right" id="status-dropdow">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                    Mostrar por Todos los estatus
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a data-ng-click="vm.selectStatus(null)">Todos los estatus</a>
                    </li>
                    <li data-ng-repeat="actualEstatus in vm.statusList">
                        <a data-ng-click="vm.selectStatus(actualEstatus)">{{actualEstatus.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-2">
            <table>
                <tr><td><strong>Orden por fecha: </strong></td></tr>
                <tr><td><input type="radio" id="ASC" name="radio-01" value="asc" data-ng-click="vm.orderAsc()"> Ascendente</td></tr>
                <tr><td><input type="radio" id="DESC" name="radio-01" value="desc" checked="checked" data-ng-click="vm.orderDesc()"> Descendente</td></tr>
            </table>

        </div>
    </div>
    <div class="col-xs-12 margintop-30">
        <div class="panel panel-default" data-ng-if="vm.requests.length > 0">
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Nombre derechohabiente</th>
                            <!--<th>No. ISSSTE</th>
                            <th>Dirección</th>-->
                            <th>Estatus</th>
                            <th>Fecha de solicitud</th>
                            <!--<th>Usuario Asignado</th>
                            <th></th>-->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="actualRequest in vm.requests">
                            <td>{{actualRequest.Folio}}</td>
                            <td>{{actualRequest.Name}}</td>
                            <!--<td>{{actualRequest.NoISSSTE}}</td>
                            <td>{{actualRequest.StatusDescription}}</td>-->
                            <td>{{actualRequest.StatusDescription}}</td>
                            <td>{{actualRequest.Date | date:'dd/MM/yyyy'}}</td>
                            <!--<td>{{actualRequest.UserId }}
                            <td>
                                <div data-ng-show="(actualRequest.StatusId == 210 || actualRequest.StatusId == 220 || actualRequest.StatusId == 310)">

                                    <button type="button" class="btn btn-primary btn-sm" data-ng-click="vm.assig(actualRequest.RequestId)">
                                        Asignar a usuario operador
                                    </button>
                                </div>
                            </td>-->
                            <td>
                            <td>
                                <div class="pull-right">
                                    <a type="button" ng-href="{{nc.getRequestDetailUrl(actualRequest.RequestId,actualRequest.NoISSSTE)}}" class="btn btn-primary btn-sm">

                                        Ver detalle

                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-default -->
        </div>
        <!-- /.panel -->
        <div class="alert alert-info" data-ng-show="vm.requests == 0">
            No se encontraron solicitudes.
        </div>

        <div class="col-xs-2 pull-left paddingleft-0">
            Mostrar:
            <select class="form-control"
                    data-ng-options="actualPageSize + ' resultados' for actualPageSize in vm.pageSizes"
                    data-ng-model="vm.selectedPageSize" data-ng-change="vm.searchRequests()"></select>
        </div>
        <div class="col-xs-10 pull-right marginbot-20 paddingright-0" data-ng-show="vm.requests.length > 0">
            <nav class="text-right">
                <ul class="pagination">
                    <li data-ng-class="{ disabled: vm.isFirstPage() }">
                        <a data-ng-click="vm.changeToPreviousPage()">&laquo;</a>
                    </li>
                    <li data-ng-repeat="actualPage in vm.pages"
                        data-ng-class="{ active: vm.isPageSelected(actualPage) }">
                        <a data-ng-click="vm.changeSelectedPage(actualPage)">{{actualPage}}</a>
                    </li>
                    <li data-ng-class="{ disabled: vm.isLasPage() }">
                        <a data-ng-disabled="vm.isLasPage()"
                           data-ng-click="vm.changeToNextPage">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- /.col -->
    <!-- END CONTENT -->

</div>


