<div class="pull-right" style="background: white; border: 2px solid #eeeeee; border-radius: 5px 5px 5px 5px; margin: 20px 0 0 0; padding: 15px 5px; position: relative;">
    <table class="myformat" style="padding-top: 15px;">
        <tbody class="myformat">
            <tr style="border: none !important; height: 2em">
                <td style="width: 100%; border: none !important; height: 2em;padding-left:5px">
                    <div class="userdisplayname" data-ng-init="nc.init()">
                        <span id="user" class="ng-binding">@ViewData.Eval("UserName")</span>
                    </div>
                </td>
                <td class="text-align-right myformat" style="border: none !important; height: 2em">
                    <a class="LoginTokens" href="https://oficinavirtual.issste.gob.mx/accesogobmx/ctl/logoff.aspx">Salir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
